<div class="container-fluid">
  	<div class="row">
      <div class="navbar1 col-sm-3 ">
          <ul id="sidebar" class="nav navbar-nav nav-pills">
              <button type="button" class="logo btn btn-default">Logo</button>
              <li class="search-link active"><a href="#">Search</a></li>
              <li class="index-link active "><a href="#">Index</a></li>
              <li class="newsfeed-link active "><a href="#">Newsfeed</a></li>
              <li class="manuscript-link active "><a href="#">Manuscript</a></li>
              <li class="home-link active"><a href="#">Home</a></li>
              <li class="log-out-link active "><a href="#">Log Out</a></li>
          </div>

        </ul>
      </div>
    </div>
  </div>
